root = true

# these settings are used by editors and should be in sync with .golangci.yml
# you should be using .golangci.yml to configure your linter, as well as prettier/eslint for frontend code

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.go]
indent_style = tab
tab_width = 4

[Makefile]
indent_style = tab
